@using Microsoft.Ajax.Utilities
@using ThanalSoft.SmartComplex.Web.Helpers.Html
@model ThanalSoft.SmartComplex.Web.Areas.Apartment.Models.ApartmentViewModel
@{
    Layout = "~/Views/Shared/_TitleView.cshtml";
}

@section title {
    <i class="fa fa-building"></i> Apartment Details <small>'@Model.Apartment.Name'</small>
}

<div class="form-horizontal form-label-left">
    <div class="form-group">
        @Html.LabelFor(m => m.Apartment.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.Apartment.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Apartment.Address, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.Apartment.Address)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Apartment.City, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.Apartment.City)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Apartment.StateId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.Apartment.State)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Apartment.PinCode, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.Apartment.PinCode.ToString())
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Apartment.Phone, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.Apartment.Phone.IsNullOrWhiteSpace() ? "" : Model.Apartment.Phone)
        </div>
    </div>
    <div class="divider-dashed"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            @Html.RoleButtonBiggerFor("Back", "closeApartment", "fa-backward", null, null, null, "ApartmentAdmin")

            @Html.RoleButtonBiggerFor("Edit", "editApartment", "fa-edit", null, null, null, "ApartmentAdmin")

            @Html.RoleButtonBiggerFor("Flats", "viewApartmentFlats", "fa-edit", Model.Apartment.FlatCount, "bg-purple", null, "ApartmentAdmin")

            @Html.RoleButtonBiggerFor("Users", "viewApartmentUsers", "fa-users", Model.Apartment.UserCount, "bg-orange", null, "ApartmentAdmin")
        </div>
    </div>
</div>

<script>
    $(
        $("#closeApartment").click(function () {
            invokeAjaxAndFillContainer('@Url.Action("Back", "Home", new {area = "Apartment"})');
        }),
        $("#viewApartmentFlats").click(function () {
            invokeAjaxAndFillContainer('@Url.Action("GetAllApartmentFlats", "Home", new {area = "Apartment"})',  { pApartmentId : @Model.Apartment.Id});
        }),
        $("#viewApartmentUsers").click(function () {
            invokeAjaxAndFillContainer('@Url.Action("GetAllApartmentUsers", "Home", new {area = "Apartment"})',  { pApartmentId : @Model.Apartment.Id});
        }),
        $("#editApartment").click(function () {
            invokeAjaxAndFillContainer('@Url.Action("Update", "Home", new { area = "Apartment" })', { pApartmentId : @Model.Apartment.Id});
        })
    );
</script>