@model ThanalSoft.SmartComplex.Web.Models.Apartment.ApartmentListViewModel
@{
    Layout = null;
}
@if (Model.ActionResultStatus != null)
{
    Html.RenderPartial("Partials/_ActionResultStatusPartial", Model.ActionResultStatus);
}
<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-building"></i> Apartments <small>in the system</small>
        </h2>
        <button type="button" onclick="addNew()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add New</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @if (Model.Apartments != null && Model.Apartments.Length < 1)
            {
                Html.RenderPartial("Partials/_NoResultFound");
            }
            else
            {
            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Name</th>
                        <th class="column-title">Created On</th>
                        <th class="column-title">City</th>
                        <th class="column-title">State</th>
                        <th class="column-title">Phone</th>
                        <th class="column-title no-link last">
                            <span class="nobr">Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var apartment in Model.Apartments)
                    {
                        <tr class="even pointer" style=@(apartment.IsDeleted || apartment.IsLocked ? "color:#fb6868" : "")>
                            <td>@apartment.Name</td>
                            <td>@apartment.CreatedDate.ToString("dd-MMM-yy")</td>
                            <td>@apartment.City</td>
                            <td>@apartment.State</td>
                            <td>@apartment.Phone</td>
                            <td class="last">
                                <a onclick="viewApartment(@apartment.Id)" class="btn btn-primary btn-xs bold"><i class="fa fa-folder-open-o"></i> View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>