@model ThanalSoft.SmartComplex.Web.Models.Apartment.ApartmentListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12" id="container">
    @Html.Partial("_ApartmentList", Model)
</div>

<script type="text/javascript">

    function fillContainerData(data) {
        $("#container").fadeOut(100, function () {
            $("#container").html(data);
            $("#container").fadeIn(100);
            hideAnimator();
        });
    }

    function apartmentListView() {
        loadAnimator();
        $.ajax({
            url: '@Url.Action("ApartmentList", "Apartment")',
            type: "GET",
            success: fillContainerData,
            error: function () {
                alert("An error has occured!!!");
                hideAnimator();
            }
        });
    };
    function addNew() {
        loadAnimator();
        $.ajax({
            url: '@Url.Action("Create", "Apartment")',
            type: "GET",
            success: fillContainerData,
            error: function () {
                alert("An error has occured!!!");
                hideAnimator();
            }
        });
    };

    function viewApartment(apartmentId) {
        loadAnimator();
        $.ajax({
            url: '@Url.Action("View", "Apartment")',
            type: "GET",
            data: { pId: apartmentId },
            success: fillContainerData,
            error: function () {
                alert("An error has occured!!!");
                hideAnimator();
            }
        });
    };

    function editApartment(apartmentId) {
        loadAnimator();
        $.ajax({
            url: '@Url.Action("Update", "Apartment")',
            type: "GET",
            data: { pId: apartmentId },
            success: fillContainerData,
            error: function () {
                alert("An error has occured!!!");
                hideAnimator();
            }
        });
    };

    function loadFlats(apartmentId) {
        loadAnimator();
        $.ajax({
            url: '@Url.Action("GetAll", "Flat")',
            type: "GET",
            data: { pApartmentId: apartmentId },
            success: fillContainerData,
            error: function () {
                alert("An error has occured!!!");
                hideAnimator();
            }
        });
    };

    function uploadFlats(apartmentId) {
        loadAnimator();
        $.ajax({
            url: '@Url.Action("UploadFlats", "Apartment")',
            type: "GET",
            data: { pId: apartmentId },
            success: fillContainerData,
            error: function () {
                alert("An error has occured!!!");
                hideAnimator();
            }
        });
    };

    function closeApartment() {
        apartmentListView();
    };


</script>