@using Microsoft.Ajax.Utilities
@model ThanalSoft.SmartComplex.Web.Models.ApartmentViewModel
@{
    Layout = "";
}

<div id="successNotify">

</div>
<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-building"></i> Apartment Details
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content form-horizontal form-label-left">
        <div class="form-group">
            @Html.LabelFor(m => m.ApartmentInfo.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12 display-label">
                @Html.Label(Model.ApartmentInfo.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ApartmentInfo.Address, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12 display-label">
                @Html.Label(Model.ApartmentInfo.Address)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ApartmentInfo.City, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12 display-label">
                @Html.Label(Model.ApartmentInfo.City)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ApartmentInfo.StateId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12 display-label">
                @Html.Label(Model.ApartmentInfo.State)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ApartmentInfo.PinCode, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12 display-label">
                @Html.Label(Model.ApartmentInfo.PinCode.ToString())
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ApartmentInfo.Phone, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12 display-label">
                @Html.Label(Model.ApartmentInfo.Phone.IsNullOrWhiteSpace() ? "" : Model.ApartmentInfo.Phone)
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a class="btn btn-app pull-left" onclick='closeApartment()'>
                    <i class="fa fa-close"></i> Cancel
                </a>
                <a class="btn btn-app pull-left" onclick='editApartment(@Model.ApartmentInfo.Id)'>
                    <i class="fa fa-edit"></i> Edit
                </a>
                @using (Ajax.BeginForm("DeleteUndelete", "Apartment", new { pId = @Model.ApartmentInfo.Id }, new AjaxOptions { OnSuccess = "onDeleteApartment", HttpMethod = "POST" }, new { @class = "pull-left", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <button id="deletebtn" type="submit" class="@(Model.ApartmentInfo.IsDeleted ? "btn btn-app activebuttonRed" : "btn btn-app")"><i class="fa fa-remove"></i> Delete</button>
                }
                <button id="lockbtn" type="submit" data-toggle="modal" data-target=".lockModel" class="@(Model.ApartmentInfo.IsLocked ? "btn btn-app activebuttonRed" : "btn btn-app")"><i class="fa fa-lock"></i> Lock</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade lockModel" id="lockModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Reason for locking this Appartment?</h4>
            </div>
            <div class="modal-body">
                <div class="x_content form-horizontal form-label-left" style="float: none">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ApartmentInfo.LockReason, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
                            @Html.TextBoxFor(m => m.ApartmentInfo.LockReason, new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @using (Ajax.BeginForm("LockUnlock", "Apartment", new { pId = @Model.ApartmentInfo.Id, pReason = @Model.ApartmentInfo.LockReason }, new AjaxOptions { OnSuccess = "onLockApartment", HttpMethod = "POST" }, new { @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="button" class="btn btn-dark cancel" style="margin-bottom: 0px" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                }
            </div>
        </div>
    </div>

</div>
<script>
    function onDeleteApartment(data) {
        if (data == 'Success') {
            if ($('#deletebtn').hasClass('activebuttonRed')) {
                $('#deletebtn').removeClass('activebuttonRed');
                $('#successNotify').html(getResultStatusHtml("success", "Appartment undeleted successfully."));
            } else {
                $('#deletebtn').addClass('activebuttonRed');
                $('#successNotify').html(getResultStatusHtml("success", "Appartment deleted successfully."));
            }
        }
    }

    function onLockApartment(data) {
        if (data == 'Success') {
            if ($('#lockbtn').hasClass('activebuttonRed')) {
                $('#lockbtn').removeClass('activebuttonRed');
                $('#successNotify').html(getResultStatusHtml("success", "Appartment unlocked successfully."));
            } else {
                $('#lockbtn').addClass('activebuttonRed');
                $('#successNotify').html(getResultStatusHtml("success", "Appartment locked successfully."));
            }
        }

        $('#lockModel').modal('hide');
    }
</script>
