@model ThanalSoft.SmartComplex.Web.Models.Account.CredentialViewModel
@if (Model?.ActionResultStatus != null)
{
    Html.RenderPartial("Partials/_ActionResultNotifyPartial", Model.ActionResultStatus);
}
<p class="lead">Update your credentials</p>
<div class="x_content">
    @using (Ajax.BeginForm("UpdateCredentails", "Account", FormMethod.Post,
                                new AjaxOptions { UpdateTargetId = "home", OnBegin = "loadAnimator", OnComplete = "hideAnimator" },
                                new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-7 col-xs-12" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-errormessage" })
            </div><span class="required">*</span>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control col-md-7 col-xs-12" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-errormessage" })
            </div><span class="required">*</span>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-10">
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control col-md-7 col-xs-12" })
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-errormessage" })
            </div><span class="required">*</span>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                @Html.RoleSubmitButtonNormalFor("Update")
            </div>
        </div>
    }
</div>