@using ThanalSoft.SmartComplex.Web.HTMLHelpers
@model ThanalSoft.SmartComplex.Web.Areas.Apartment.Models.FlatListViewModel

@{
    Layout = "~/Views/Shared/_TitleView.cshtml";
}
@section topbuttons {
    <button type="button" id="backToApartment" class="btn btn-dark"><i class="fa fa-backward"></i> Back</button>
    <button type="button" id="addNewFlat" class="btn btn-success"><i class="fa fa-plus"></i> Add New</button>
}
@section title {
    <i class="fa fa-home"></i> Flats <small>in Apartment '@Model.Flats[0].ApartmentName'</small>
}

@Html.DisplayTableFor(Model.Flats)

<script>
$(
    $("#backToApartment").click(function () {
        invokeAjaxAndFillContainer('@Url.Action("Get", "Manage", new { area = "Apartment" })', { pApartmentId: @Model.ApartmentId });
    }),
    $("#addNewFlat").click(function () {
        invokeAjaxAndFillContainer('@Url.Action("Create", "Flat", new { area = "Apartment" })', { pApartmentId: @Model.ApartmentId });
    }),
    $("[data-rowid]").click(function () {
        var id = $(this).data("rowid");
        invokeAjaxAndFillContainer('@Url.Action("Get", "Flat", new { area = "Apartment" })', { pFlatId: id });
    })
);
</script>