@model ThanalSoft.SmartComplex.Web.Areas.Apartment.Models.ApartmentUserViewModel
@{
    Layout = "~/Views/Shared/_TitleView.cshtml";
}

@section title {
    <i class="fa fa-user"></i> User Details <small>'@Model.User.Name'</small>
}

<div class="x_content form-horizontal form-label-left">
    <div class="form-group">
        @Html.LabelFor(m => m.User.FirstName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.User.FirstName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.LastName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.User.LastName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Email, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.User.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Mobile, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.User.Mobile)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.BloodGroup, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 display-label">
            @Html.LabelForModel(Model.User.BloodGroup)
        </div>
    </div>
    <div class="divider-dashed"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a class="btn btn-app pull-left" id="cancelApartmentUser">
                <i class="fa fa-backward"></i>Back
            </a>
            <a class="btn btn-app pull-left" id="markApartmentAdmin">
                <i class="fa fa-anchor"></i>Mark/Unmark as Admin
            </a>
        </div>
    </div>
</div>

<script>
    $(
        $("#cancelApartmentUser").click(function () {
            invokeAjaxAndFillContainer('@Url.Action("GetAllApartmentUsers", "Manage", new { area = "Apartment" })', { pApartmentId : @Model.User.ApartmentId});
        }),
        $("#markApartmentAdmin").click(function () {
            postAjaxAndFillContainer('@Url.Action("MarkApartmentUserAdmin", "Manage", new { area = "Apartment" })', { pApartmentId : @Model.User.ApartmentId, pUserId : @Model.User.Id});
        })
    );
</script>