@using ThanalSoft.SmartComplex.Web.Common.MainMenu
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartComplex - ThanalSoft</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script>
        NProgress.start();
    </script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border:0; padding-top: 3px; padding-left: 22px;">
                        <img src="~/Content/images/logo180x50.png" id="logo" />
                    </div>
                    <div class="clearfix"></div>
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @Html.SecureMainMenuFor(new SecuredMenuList())
                    </div>
                </div>
            </div>
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/nulluser.png" alt="">@User.Email
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li>
                                        <a href="@Url.Action("UserProfile", "Account", new { area = "" })"><i class="fa fa-user pull-right"></i>Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fa fa-question-circle pull-right"></i>Help</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Account", new { area = "" })"><i class="fa fa-sign-out pull-right"></i>Log Out</a>
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown" id="userNotification">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="badge bg-red" id="notificationcount"></span>
                                </a>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="container">
                        @RenderBody()
                    </div>
                </div>
                <footer>
                    <div class="">
                        <p class="pull-right">
                            Smart Complex | <span class=""> <i class="fa fa-cloud"></i> Powered by ThanalSoft!</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
            </div>
        </div>
    </div>
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background-color: #f4f4f4; z-index: 30001; opacity: .3; filter: alpha(opacity=30);display:none">
        <p style="position: absolute; top: 30%; left: 45%; color: White;">
            <i class="fa fa-spinner fa-pulse" style="color: black; font-size: 500%"></i>
        </p>
    </div>
</body>

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script>

    $(document).ready(function () {
        setInterval(setNotificationCount, 100000);
        setNotificationCount();
    });

    function setNotificationCount() {
        $.ajax({
            url: '@Url.Action("GetUserNotificationCount", "Home", new { area = "" })',
            type: 'GET',
            success: fillNotificationCount,
            error: function () {

            }
        });
    };

    $("#userNotification").click(function () {
        $.ajax({
            url: '@Url.Action("ReadNotifications", "Home", new { area = "" })',
            type: 'GET',
            success: function (result) {
                $("#userNotification").find("a").after(result);
                $("#notificationcount").fadeOut("slow");
            },
            error: function () {

            }
        });
    });

    function fillNotificationCount(data) {
        if (parseInt(data) !== 0) {
            $("#notificationcount").fadeOut(100, function () {
                $("#notificationcount").html(data);
                $("#notificationcount").fadeIn(100);
            });
        }
    };

    NProgress.done();
</script>

</html>